* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/fundo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#conteudo {
	width: 94%;

	background-color: rgba(0,0,0,.25);

	border: 1px solid #404160;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	margin: auto;
	margin-bottom: 25px;
}

#conteudo h1 {
	text-align: center;
	text-decoration: underline;

	font-family: 'VT323', monospace;
	font-size: 45pt;

 	color: white;
}

#conteudo h2 {
	text-align: center;

	font: 1.15rem/1.35rem Nunito, sans-serif;

	color: white;

	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

#conteudo img {
	display: block;

	width: 400px;

	margin: auto;

	border-radius: 7px;

	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

#conteudo h3 {
	text-indent: 25px;
	text-decoration: underline;

	font: 1.85rem/1.35rem Nunito, sans-serif;
	font-weight: bold;

	color: #3e7fd1;

	margin-top: 20px;
}

#conteudo p {
	font: 1.00rem/1.15rem Nunito, sans-serif;

	text-indent: 10px;
	color: white;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;

	padding: 10px;
}

#conteudo span {
	color: rgb(243, 46, 89);
}

#conteudo a {
	text-decoration: underline;
	
	color: rgb(243, 46, 89);
}

@media screen and (max-width: 980px) {
	body{
		background-image: url(../img/fundocell.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}

	#conteudo h1 {
		font-size: 26pt;
	}

	#conteudo h3 {
		font: 1.35rem/1.35rem Nunito, sans-serif;
	}

	#conteudo img {
		width: 75%;
	}
}