* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/fundo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#principal {
	margin-bottom: 25px;
}

#principal img {
	display: block;

	width: 400px;

	margin: auto;
	margin-bottom: 20px;

	border-radius: 7px;

	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

hr {
	width: 50%;
	margin: auto;
}

#conteudo {
	width: 94%;

	background-color: rgba(0,0,0,.25);

	border: 1px solid #404160;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	margin: auto;
	margin-bottom: 25px;
}

#conteudo h1 {
	text-align: center;
	text-decoration: underline;

	font-family: 'VT323', monospace;
	font-size: 45pt;

 	color: white;
}

#conteudo h2 {
	text-align: center;

	font: 1.15rem/1.35rem Nunito, sans-serif;

	color: white;

	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

footer {
	background-color: rgba(0,0,0,.25);

	border-top: 1px solid #404160;

	margin: auto;
}

footer h6 {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 18pt;

	padding: 15px;

	color: white;
}

footer span#copy {
	font: 1.15rem/1.35rem Nunito, sans-serif;
}